<!-------Navigation Bar------>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/i10aiwebsite/index.html#about">
    <img src="/i10aiwebsite/img/logo.png" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    style="background-color: transparent"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/i10aiwebsite/index.html#top"> HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/i10aiwebsite/index.html#about">ABOUT US</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="servicesDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          SERVICES
        </a>
        <div class="dropdown-menu" aria-labelledby="servicesDropdown">
          <a
            class="dropdown-item"
            href="/i10aiwebsite/services/webServices.html"
            onclick="setActive(this)"
          >
            WEB SERVICES
          </a>
          <a
            class="dropdown-item"
            href="/i10aiwebsite/services/b2b.html"
            onclick="setActive(this)"
          >
            B2B SOLUTIONS
          </a>
          <a
            class="dropdown-item"
            href="/i10aiwebsite/services/customizedDevelopment.html"
            onclick="setActive(this)"
          >
            CUSTOMIZED DEVELOPMENT
          </a>
          <a
            class="dropdown-item"
            href="/i10aiwebsite/services/digitalConsulting.html"
            onclick="setActive(this)"
          >
            DIGITAL CONSULTING
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/i10aiwebsite/index.html#testimonials"
          >TESTIMONIALS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/i10aiwebsite/index.html#offerings"
          >OFFERINGS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/i10aiwebsite/index.html#contact">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/i10aiwebsite/blog/webservicesBlog.html"
          >BLOGS</a
        >
      </li>
      <li class="nav-item">
        <a
          target="_blank"
          title="WhatsApp Us"
          href="https://web.whatsapp.com/send?phone=+919625206671&amp;text=Visited I10AI SOLUTIONS would like to get more information.."
          class="whatsapplink hidemobile"
        >
          <i class="fa fa-fw fa-whatsapp"></i>
          <span style="color: black">Request a Quote</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      text-align: center;
    }
    .navbar-nav .nav-item .nav-link {
      padding: 10px 15px;
    }
  }
  .navbar-logo {
    height: 50px; /* Set the height to 50px */
    width: auto;
  }
  .whatsapplink {
    margin-left: 15px; /* Add some margin to separate it from other items */
  }
</style>

<!-- <li class="nav-item dropdown">
  <button
    type="button"
    class="btn dropdown-toggle nav-link"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    style="background-color: transparent; border: none; color: black"
  >
    Action
  </button>

  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</li> -->
