<div class="container">
  <h1>Our Services</h1>
  <div class="row services">
    <div
      class="col-md-3 text-center"
      onclick="window.location.href='/i10aiwebsite/services/b2b.html'"
      style="cursor: pointer"
    >
      <div class="icon">
        <i class="fa fa-sun-o"></i>
      </div>
      <h3>
        <font color="white">B2B PLATFORMS</font>
      </h3>
      <p>
        We help you get digital, with our low code no code platforming solution.
      </p>
    </div>

    <div
      class="col-md-3 text-center"
      class="col-md-3 text-center"
      onclick="window.location.href='/i10aiwebsite/services/webServices.html'"
    >
      <div class="icon">
        <i class="fa fa-pagelines"></i>
      </div>
      <h3>
        <a>
          <font color="white">WEB SERVICES</font>
        </a>
      </h3>
      <p>
        Your application is the digital face of your business, and we ensure it
        stands out.
      </p>
    </div>
    <div
      class="col-md-3 text-center"
      onclick="window.location.href='/i10aiwebsite/services/digitalConsulting.html'"
      style="cursor: pointer"
    >
      <div class="icon">
        <i class="fa fa-industry"></i>
      </div>
      <h3>
        <a>
          <font color="white">DIGITAL CONSULTING</font>
        </a>
      </h3>
      <p>
        With expertise from Energy, IT and cross industries, we help transfrom
        digitally!
      </p>
    </div>
    <div
      class="col-md-3 text-center"
      onclick="window.location.href='/i10aiwebsite/services/customizedDevelopment.html'"
      style="cursor: pointer"
    >
      <div class="icon">
        <i class="fa fa-university"></i>
      </div>
      <h3>
        <a>
          <font color="white">CUSTOMISED DEVELOPMENT</font>
        </a>
      </h3>
      <p>
        Get your digital solutions designed with us aligned to to your
        indistrial need
      </p>
    </div>
  </div>
</div>
