<div id="slider">
  <div id="headerSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img class="d-block img-fluid" src="img/BGBanner.png" />
        <div class="carousel-caption">
          <h5>
            <p>i10AI</p>
            <p>Solutions</p>
            <h6>
              <p>Embark on your Industrial</p>
              <p>Digital Transformation With Us</p>
            </h6>
          </h5>
          <div class="slider-btn">
            <a href="#contact" class="btn btn-primary">SEND MESSAGE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
